<hrml>
  <head>

  </head>
  <body>
<p>
  <strong>Category Name:</strong>
  <%= @category.name %><br>
</p>
<hr>

<table border="1" >
  <thead >
    <tr>
      <td ><%=image_tag @item.photo.url, size:'200' %>
      </td>
      <td>
        <table border="1" class="table table-hover">
          <tr>
            <th>Name</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td> <%= @item.desc %></td>
          </tr>
          <tr>
            <th>Quantity</th>
            <td>  <%= @item.quantity %></td>
          </tr>
          <tr>
            <th>Unit Price</th>
            <td><%= @item.unitPrice%></td>
          </tr>
          <tr>
            <th>Minimum Quantity</th>
            <td> <%= @item.minQty%></td>
          </tr>
          <tr>
            <th>Maximum Quantity</th>
            <td><%= @item.maxQty %></td>
          </tr>
          <tr>
            <th>S.K.U</th>
            <td><%= @item.sku%></td>
          </tr>
          <tr>
            <th>Status</th>
            <td><%= @item.status%></td>
          </tr>

        </table>

      </td>
    </tr>
  </thead>
</table>

<%= link_to 'Back', category_path(@category)%>
  </body>
</hrml>