<h1>Create Category</h1>
<%= form_for :category, url: categories_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :Description %><br>
      <%= f.text_area :desc %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>