<h1>Show Category</h1>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.desc %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path%>|
<%= link_to 'Add Item', new_category_item_path(@category) %>
<%= form_tag category_path, :method => 'get', :id => 'item_search' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <table border="1" class="pretty">
      <tr align="center">
        <th>Name</th><th>Description</th><th>Unit Price</th><th>Quantity</th><th>Min Quantity</th>
        <th>Max Quantity</th><th>Image</th><th>SKU</th><th>Status</th><th colspan="3">actions</th>
      </tr>
      <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td><td><%= item.desc %></td><td><%= item.unitPrice%></td><td><%= item.quantity%></td>
            <td><%= item.minQty%></td><td><%= item.maxQty %></td><td><%= item.image %></td><td><%= item.sku %></td>
            <td><%= item.status %></td>
            <td><%= link_to 'Show', category_item_path(@category,item.id) %></td>
            <td><%= link_to 'Edit', edit_category_item_path(@category,item.id) %></td>
            <td><%= link_to 'Delete', category_item_path(@category,item.id),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>

          </tr>
      <% end %>
<% end %>
</table>
<%= will_paginate @items %>